
@model Negocio.Usuario


<link href="~/Content/EstiloPrincipal.css" rel="stylesheet" />
<div class="container">
    </br>
    <h3>Bienvenido/a @Model.Nombre con perfil de @Model.TipoPermisos </h3></br>

</div>



<div id="pantalla1">

    <img src="~/fonts/logo-footer.png" />
    <div class="col-md-pull-12" id="izquierda">
        </br>
        

        
        <button id="btn2" type="button" class="btn btn-secondary">Productos</button></br></br>
        <button id="btn3" type="button" class="btn btn-secondary">Ventas</button></br></br>
        <button id="btn4" type="button" class="btn btn-secondary">Precios Generales</button></br></br>
        <button id="btn5" type="button" class="btn btn-secondary">Gastos</button></br></br>
        

    </div>
</div>


